/* Carousel Section */
.carousel-section {
  background-color: #ffe5fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
